@use '../abstracts/' as *;

$product-height: 60vh;

.main {
	.productHighlight {
		display: flex;
		height: $product-height;
		justify-content: space-between;
		background-color: $bg-secondary;
		.introText {
			z-index: 20;
			margin: auto 6em;
			padding: 2em 2em;
			background-color: adjust-color($accent-primary, $alpha: -0.01);
			border-radius: 2em;
			color: black;
			h1 {
				margin: 0;
				font-size: $text-6xl;
				font-weight: $font-xbold;
			}
			span {
				display: inline-block;
				margin-top: 0.5em;
				font-size: $text-xl;
			}
			.buttonWrapper {
				display: flex;
				margin: 3em 0 0;
				button {
					margin: auto;
				}
			}
		}
		.productWrapper {
			position: absolute;
			z-index: 10;
			width: 100vw;
			height: $product-height;
		}
	}
}

@media (max-width: $mobile) {
	.main {
		.productHighlight {
			flex-direction: column-reverse;
			height: auto;
			.introText {
				margin: 0;
				padding: 1em 0.5em;
				border-radius: 0;
				text-align: center;
				h1 {
					font-size: $text-4xl;
				}
				span {
					font-size: $text-lg;
				}
				.buttonWrapper {
					margin: 1em 0 0;
					color: black;
				}
				a {
					color: black;
				}
			}
			.productWrapper {
				position: relative;
				height: $product-height / 3.5;
				img {
					object-position: 20% 40% !important;
				}
			}
		}
	}
}
