@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

$product-height: 60vh;

.main {
	.productHighlight {
		display: flex;
		height: $product-height;
		justify-content: space-between;
		background-color: $bg-secondary;
		.introText {
			z-index: 20;
			margin: auto 6em;
			padding: 2em 2em;
			background-color: adjust-color($accent, $alpha: -0.01);
			border-radius: 2em;
			color: black;
			h1 {
				margin: 0;
				font-size: $text-6xl;
				font-weight: $font-xbold;
			}
			span {
				display: inline-block;
				margin-top: 0.5em;
				font-size: $text-xl;
			}
			.buttonWrapper {
				display: flex;
				margin: 3em 0 0;
				button { margin: auto; }
			}
		}
		.productWrapper {
			position: absolute;
			z-index: 10;
			width: 100vw;
			height: $product-height;
		}
	}
}