@use '../abstracts/' as *;

.root {
	padding-bottom: 15vh;

	.title {
		margin: 0.75em auto 1em;
		font-size: $text-4xl;
		font-weight: $font-xbold;
		text-align: center;
		text-decoration: underline;
	}

	.allProductsWrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-around;
		margin: 0 10vw;
	}

}
.product-wrapper {
	width: 16vw;
	box-sizing: border-box;
	margin: 0 2%;
	transition: 0.5s ease-in-out;

	&:hover {
		scale: 1.05;
	}

	.product-image-wrapper {
		position: relative;
		width: 100%;
		height: 37vh;
	}
	h3 {
		margin-bottom: 0;
		font-size: $text-md;
		font-weight: $font-xbold;
	}
	.product-prices {
		display: flex;
		font-size: $text-lg;
		
		.product-discount {
			margin-right: 1.5ch;
		}

		h4 {
			font-family: 'Lato', sans-serif;
			font-weight: $font-thin;
			margin-top: 0.3em;
		}
	}
}

@media (max-width: $mobile) {
	.root {
		.allProductsWrapper {
			margin: 0 2vw;
			align-content: space-between;
		}
		.title {
			margin: 0.5em auto 1em;
		}
	}
	.product-wrapper {
		width: 44vw;
		.product-image-wrapper {
			height: 28vh;
		}
		.product-prices {
			flex-direction: row-reverse;
			margin-right: auto;
			width: fit-content;

			h4 {
				font-size: $text-md;
			}
			.product-discount {
				font-size: $text-sm;
				margin-right: auto;
				margin-left: 1ch;
			}
		}
	}
}