// main background color
$bg-primary: #131615;

// background color for navs
$bg-secondary: #1d2420;

// accent for some borders and backgrounds
$accent-primary: #ebe1b5;

// secondary accent - used rarely
$accent-secondary: #c86e63;

// Most common text on the page
$text-primary-light: #dfdfdf;

// Text for light backgrounds
$text-primary-dark: #131615;

// Text for headings, prices
$text-secondary: #ebe1b5;

// Text used for discount pricing
$text-accent: #af5b50;
