@use '../abstracts/fonts' as *;
@use '../abstracts/colors' as *;

.btn {
	padding: 0.5em 1.5em;
	border: none;
	border-radius: 0.5em;
	font-size: $text-lg;
}
.btn-xl {
	padding: 0.8em 2em;
	font-size: $text-xl;	
	border: none;
	border-radius: 0.5em;
}

.btn-primary {
	background-color: $bg-primary;
	color: $accent-primary;
}

.btn-outline {
	background: none;
	border: 1px solid $bg-primary;

	color: $bg-primary;
	font-weight: $font-bold;

	transition: 0.3s ease-in-out;
	scale: 1;

	&:hover {
		scale: 1.05;
		background-color: $bg-primary;
		font-weight: $font-xbold;
		color: $accent-primary;
	}
}