@use '../abstracts/' as *;

select {
	// Remove background and create custom button for expanding
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	background-image: url('data:image/svg+xml;utf8,<svg fill="%23EBE1b5" height="35" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 5px;
	
	height: fit-content;
	margin: 0;
	padding: 1.1rem;
	padding-right: 2rem;

	outline: none;
	border: 1px solid $text-main;
	border-radius: 0.2em;

	color: $text-main;
	font-size: $text-sm;
	font-weight: $font-thin;
}
select.accent {
	border-color: $accent;
	color: $accent;
}