@use '../abstracts/' as *;

.error-wrapper {
	display: flex;	
	flex-direction: row;
	margin: 30vh auto 0;
	width: fit-content;
	h1 {
		margin: auto 0 1em;
		padding-right: 0.5em;

		font-size: $text-4xl;
		line-height: 1;
	}
	span {
		display: inline-flex;
		margin: auto 0;
		padding-left: 0.5em;
		border-left: 1px solid $accent-primary;

		font-size: $text-xl;
		line-height: 3em;
	}
}

@media (max-width: $mobile) {
	.error-wrapper {
		h1 {
			margin: auto 0 0.65em;
		}
		span {
			font-size: $text-lg;
		}
	}
}