@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

#nav-portal {
	position: sticky;
	top: 0; 
	z-index: 1000;
}

nav {
	display: flex;
	flex-direction: column;
	padding: 1em 1em 0;
	min-height: 20vh;
	background-color: $bg-nav;
	
	.wrapper-icon-logo {
		display: flex;
		flex-direction: row;
		width: 100%;
		min-height: 11vh;
		height: fit-content;
		
		.wrapper-icon {
			position: absolute;
			height: 11vh;
			width: 11vh;
		}

		.wrapper-logo {
			position: relative;
			height: 7vh;
			width: 25vw;
			margin: auto;
			border-bottom: 1px solid $accent;
		}
	}

	ul {
		width: fit-content;
		padding: 0.5em 0;
		margin: auto auto 0;
		list-style-type: none;
		
		li {
			display: inline-block;
			height: 100%;
			padding: 0.5em 1em;
			border-radius: 10px;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			font-size: $text-md;
			font-weight: $font-xbold;
			color: $accent;
			transition: 0.5s ease-in-out;

			&:hover {
				background-color: $accent;
				color: black;
				font-weight: $font-xbold;
			}
		}
	}
}