@use '../abstracts/' as *;

#nav-portal {
	position: sticky;
	top: 0; 
	z-index: $z-nav;
}

nav {
	display: flex;
	flex-direction: column;
	padding: 1em 1em 0;
	min-height: 20vh;
	background-color: $bg-secondary;
	border-bottom: 0.1px solid $accent-primary;
	
	.wrapper-icon-logo {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		max-height: 11vh;
		height: fit-content;
		
		.wrapper-icon, .wrapper-logo, .cart-icon {
			position: relative;
			margin-top: auto;
			margin-bottom: auto;
		}

		.wrapper-icon {
			height: 11vh;
			width: 11vh;
		}

		.wrapper-logo {
			height: 7vh;
			width: 25vw;
			border-bottom: 1px solid $accent-primary;
		}
		.cart-icon {
			height: 8vh;
			width: 8vh;
		}
	}

	ul {
		width: fit-content;
		padding: 0.5em 0;
		margin: auto auto 0;
		list-style-type: none;
		
		li {
			display: inline-block;
			height: 100%;
			padding: 0.5em 1em;
			border-radius: 10px;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			font-size: $text-md;
			font-weight: $font-xbold;
			color: $accent-primary;
			transition: 0.5s ease-in-out;

			&:hover {
				background-color: $accent-primary;
				color: black;
				font-weight: $font-xbold;
			}
		}
	}
}
@media (max-width: $mobile) {
	nav {
		ul {
			display: flex;
			width: 100%;
			justify-content: space-between;

			li {
				font-size: $text-md;
			}
		}
		.wrapper-icon-logo {

			.wrapper-icon, .cart-icon {
				height: 7vh;
				width: 7vh;
			}
			.wrapper-logo {
				width: 50vw;
			}
		}
	}
}