@use '../abstracts/fonts' as *;
@use '../abstracts/colors' as *;

.wrapper-page-product {
	width: 80%;
	margin: 0 auto;
	padding: 3% 0;
}
.wrapper-product {
	display: flex;
	width: 100%;
	.wrapper-image-col {

		display: flex;
		flex-direction: column;

		.wrapper-image {
			position: relative;
			width: 50vw;
			height: 42vw;
			margin-bottom: 0.5vw;

		}
	}
	.wrapper-main {
		display: flex;
		position: sticky;
		top: 30%;
		height: fit-content;
		flex-direction: column;
		color: $text-primary-light;
		h1 {
			font-size: $text-5xl;
			margin: 0;
		}
		.description {
			font-size: $text-lg;
		}
		.pricing {
			display: flex;
			flex-direction: column;
			h4 {
				font-family: 'Lato', sans-serif;
				font-weight: $font-thin;
				font-size: $text-lg;
				margin: 0;
			}
			.price {
				margin-top: 10px;
				font-size: $text-3xl;
				color: $text-secondary;
			}
		}
		.select-size {
			margin-top: 1rem;
		}
	}
}