@use '../abstracts/fonts' as *;

.wrapper-filters, .wrapper-sort {
	display: flex;
	flex-direction: row;
	width: fit-content;

	h4 {
		margin: auto 1em auto 0;
		font-size: $text-lg;
	}
}
.wrapper-sort {
	margin-left: auto;
}

