$text-sm: 1rem;
$text-md: 1.25rem;
$text-lg: 1.75rem;
$text-xl: 2rem;
$text-2xl: 2.25rem;
$text-3xl: 2.75rem;
$text-4xl: 2.35rem;
$text-6xl: 3.5rem;

$font-thin: 300;
$font-light: 400;
$font-normal: 500;
$font-bold: 600;
$font-xbold: 700;
