@import 'colors';
@import 'fonts';
@import 'buttons';

@import 'nav';
@import 'error';

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $text-primary;
  background-color: $bg-primary;
  font-family: 'Cormorant Garamond', serif;
}
button {
  font-family: 'Cormorant Garamond', serif; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

s::before,
s::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

s::before {
  content: " [start of stricken text] ";
}

s::after {
  content: " [end of stricken text] ";
}