@use 'abstracts' as *;
@use 'components' as *;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $text-primary;
  background-color: $bg-primary;
  font-family: 'Cormorant Garamond', serif;
}
button {
  font-family: 'Cormorant Garamond', serif; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23EBE1b5" height="35" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid $accent;
  color: $accent;
  border-radius: 0.2em;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
  outline: none;
  font-size: $text-sm;
  font-weight: $font-thin;
}

  
s::before,
s::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

s::before {
  content: " [start of stricken text] ";
}

s::after {
  content: " [end of stricken text] ";
}