@use 'abstracts/' as *;

#filterbar {
	width: 100%;

	#wrapper-filter-sort {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		position: fixed;
		bottom: 0;
		width: 100%;
		margin: 0 auto;
		padding: 3vh 0;
		background-color: $bg-secondary;
	}
}
@media (max-width: $large) {
	#filterbar #wrapper-filter-sort {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: $mobile) {
	#filterbar #wrapper-filter-sort {
		flex-direction: row;
		justify-content: space-between;
		padding: 1vh 4vw;
		h4 {
			font-size: $text-xl;
			margin: auto;
			margin-left: 0;
		}
		svg {
			height: 8vh;
			margin: auto;
			margin-right: 0;
		}
	}
	#filterbar > #wrapper-filter-sort.fullscreen {
		position: fixed;
		flex-direction: column;
		justify-content: center;
		z-index: $z-nav;
		height: 70vh;
		width: 100vw;
		margin: 0;
		padding: 0;
		background-color: $bg-primary;
		border-top: 1px solid $accent-primary;
	}
}
